<section class="padding">
  <h1 class="d-flex justify-content-center mb-4">Contacts</h1>

  <section *ngIf="contacts$ | async as contacts">
    <table class="table table-striped mb-4">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Email</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let contact of contacts">
          <td>{{ contact.name }}</td>
          <td>{{ contact.address }}</td>
          <td>@{{ contact.email }}</td>
        </tr>
      </tbody>
    </table>

    <ul
      class="pagination d-flex justify-content-center"
      *ngIf="paginationData$ | async as paginationData"
    >
      <li
        *ngFor="let page of paginationData | paginationControls; index as i"
        class="page-item page-link"
        (click)="updateActivePage(i + 1)"
      >
        {{ i + 1 }}
      </li>
    </ul>
  </section>
</section>
