<section class="padding">
  <div class="text-center" *ngIf="isLoading">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <h2 class="mb-2">Movies</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Actors</th>
        <th scope="col">Genres</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{ movie.title }}</td>
        <td>
          <span *ngFor="let actor of movie.actors">{{ actor }}</span>
        </td>
        <td>
          <span *ngFor="let genre of movie.genres">{{ genre }}</span>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="my-4">Actors</h2>

  <div class="row">
    <div class="col-4 p-0">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let actor of actors">
            <td class="row align-items-center me-0">
              <div class="col-8">
                {{ actor.name }}
              </div>
              <div class="col-4">
                <div class="float-end">
                  <button class="btn btn-light me-2">edit</button>
                  <button class="btn btn-danger">X</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
