.logo {
  height: 55px;
}

.nav-purple-bg {
  background: #7e3ab7;
  background: linear-gradient(to bottom right, #7e3ab7, #9871ca);
}

.nav-link {
  color: #e9ecef;
  &:hover {
    color: #ffff;
  }
}

.active {
  color: #ffff;
  transform: scale(1.05);
}
