<h1>Todos</h1>

<button (click)="todosRepo.updateFilter('COMPLETED')">Complete</button>
<button (click)="todosRepo.updateFilter('ACTIVE')">Active</button>
<button (click)="todosRepo.updateFilter('ALL')">All</button>

<ul>
  <li *ngFor="let todo of todosRepo.visibleTodos$ | async">
    <input
      type="checkbox"
      (change)="todosRepo.updateCompleted(todo.id)"
      [checked]="todo.completed"
    />
    {{ todo.title }}
  </li>
</ul>

<input
  #todo
  placeholder="title"
  (keydown.enter)="todosRepo.addTodo(todo.value)"
/>

<h2 style="margin-top: 20px">Completed</h2>
<ul>
  <li *ngFor="let todo of todosRepo.selectByCompletedState(true) | async">
    <input
      type="checkbox"
      (change)="todosRepo.updateCompleted(todo.id)"
      [checked]="todo.completed"
    />
    {{ todo.title }}
  </li>
</ul>
