<div class="row mt-5 w-75 mx-auto">
  <form class="col-12">
    <h2 class="text-center mb-4 fs-2 text-black fw-bold">Login</h2>
    <div class="form-group">
      <i class="fas fa-envelope fa-lg icon"></i>
      <input
        type="email"
        class="form-control login-input mb-3"
        placeholder="Email"
        required
      />
    </div>
    <div class="form-group">
      <i class="fas fa-unlock fa-lg icon"></i>
      <input
        type="password"
        class="form-control login-input mb-3"
        placeholder="Password"
        required
      />
    </div>
    <button class="float-end btn text-light px-3" type="submit">Login</button>
  </form>
</div>
