.login-input {
  padding: 10px;
  font-size: 20px;
  font-weight: 300;
  box-shadow: none;
  border: solid #7e3ab7 1px;
  border-radius: 15px;

  &:focus {
    border: solid #7e3ab7 2px;
  }
}

input[type='email'],
input[type='password'] {
  padding-left: 45px;
}

.btn {
  border-color: inherit;
  box-shadow: none;
  background-color: var(--primary);

  &:hover {
    opacity: 0.9;
  }
}

.icon {
  position: absolute;
  padding: 17px 15px;
  color: #7e3ab7;
  opacity: 0.7;
}

